body {
  margin: 20px;
  font-family: Arial, sans-serif;

}

header {
  background-color: #0b0d86;
  color: rgba(229, 228, 232, 0.863);
  text-align: center;
  padding: 5px;
}
<style>
 @import url(tiny.css) (min-width:300px);
 @import url(small.css) (min-width:600px);
 @import url(big.css) (min-width:900px);
</style>
@media screen and (max-width: 300px) {
 /* estilos */
}
@media screen and (max-width: 600px) {
/* Estilos */
}
@media screen and
(min-width: 200px) and
(max-width: 640px)
@media screen and
(min-width: 600px) and
(orientation:landscape)
@media screen and
(max-width: 380px) and
(orientation:portrait)
min-width: 768px;
max-width: 1024px;
@media screen and (min-width:
1024px) {
 #main { min-width: 1000px; }
}
h1 {
  margin: 10px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 0;

}

p {
  line-height: 1.5;
}

footer {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
}

